// https://eslint.org/docs/user-guide/configuring/
{
  "parserOptions": {
    // Default is ECMAScript 5
    "ecmaVersion": 2021,
    // Files are ECMAScript modules
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": ["eslint:recommended", "eslint-config-prettier"],
  "rules": {
    // Disallows strict mode directives as all files will be compiled with Babel that will add the 'use strict' anyway.
    "strict": ["error", "never"]
  },
  "env": {
    "browser": true
  }
}
