// https://eslint.org/docs/user-guide/configuring/
{
  "parserOptions": {
    // Default is ECMAScript 5
    "ecmaVersion": 2021,
    // Files are ECMAScript modules
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": ["eslint:recommended", "eslint-config-prettier"],
  "rules": {
    // Disallows strict mode directives as all files will be compiled with Babel that will add the 'use strict' anyway.
    "strict": ["error", "never"]
  },
  "env": {
    "browser": true
  },
  "overrides": [
    {
      "files": "**/*.+(ts|tsx)",
      "parser": "@typescript-eslint/parser",
      "parserOptions": {
        "project": "./tsconfig.json"
      },
      // This plugin disables some of those rules that TypeScript renders unnecessary.
      "plugins": ["@typescript-eslint/eslint-plugin"],
      "extends": [
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
        // Disable all the rules that typescript-eslint adds that we don't necessarily need because of Prettier.
        // "eslint-config-prettier/@typescript-eslint"
      ]
    }
  ]
}
